<p>adminvservice works!</p>
<table class="table text-black mb-0">
    <thead>
      <tr>
        <th>no</th>
        <th scope="col">username</th>
        <th scope="col">service</th>
        <th scope="col">phne</th>
        <th scope="col">place</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
        
      <tr class="fw-normal" *ngFor="let i of data"  >
        <th >1</th>
       <th>{{i.user}}</th>
        <th>{{i.service}}</th>
        <td class="align-middle">{{i.phone}}</td>
        <td class="align-middle">{{i.place}}</td>
        <div>
          <button  id="{{i.id}}" class="btn btn-info " (click)="sendmsg($event)">select msg</button>
      </div>
      </tr>
    </tbody>
  </table>
