<p>complaint works!</p>
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>register your complaints</u>
              </p>
            <form action="" [formGroup]="compl" (ngSubmit)="submit()">
              <div class="pb-2">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row align-items-center">
                        <input type="text" class="form-control form-control-lg" 
                        placeholder="Add complaints..." formControlName="complaint"><br>
                        <label for="start">place:</label>
                        <input type="text"   formControlName="place"><br><br>
                        <input type="text" class="form-control form-control-lg" 
                        placeholder="ph:" formControlName="phone">
                     
                      <div>
                        <button  class="btn btn-primary">submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>


            <table class="table text-black mb-0">
                <thead>
                  <tr>
                    <th scope="col">complaint</th>
                    <th scope="col">phne</th>
                    <th scope="col">place</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="fw-normal" *ngFor="let i of data">
                    <th>{{i.complaint}}</th>
                    <td class="align-middle">{{i.phone}}</td>
                    <td class="align-middle">{{i.place}}</td>
                    <td class="align-middle">
                      <button id="{{i.id}}" class="btn btn-warning">Edit</button>&nbsp;
                      <button id="{{i.id}}"  class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
  