<p>adminhome works!</p>
<!-- <div class="text-center" id="1">
    <a routerLink="/add" class="btn btn-success">Add</a>
    <button class="btn btn-lg btn-danger float-right" (click)="logout()">LogOut</button>
    <a routerLink="/inventory" class="btn btn-success">manage stock</a>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#"><h2 class="primary">powerhouse</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inventory"><h4>manage stocks</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/add"> <h4>add Products</h4></a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" routerLink="/viewcomp"><h4>view  complaint</h4></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/allser"><h4>view service</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ><button class="btn btn-lg btn-danger float-right" (click)="logout()">LogOut</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/allorder"><h4>orders</h4></a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
<style>

    
</style>




<div class="row">
   
   

    
        <div class="card " *ngFor="let i of prod">
            <header class="card__thumb">
                <a href="#"><img src="{{i.image}}" height="400px"/></a>
            </header>
           
            <div class="card__body">
                <div class="card__category"><a href="#">{{i.category}}</a></div>
                <h2 class="card__title"><a href="#">{{i.product_name}}</a></h2>
                <div class="card__subtitle">{{i.category}}</div>
                <p class="card__description">{{i.description}}</p>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" id="{{i.id}}" (click)="deletepro($event)" >Remove</button>
                <button  id="{{i.id}}" class="btn btn-info " (click)="editPage($event)">  edit</button>
            </div>
        </div>
    
</div>


