<style>

</style>



    <div class="container mt-5 mb-5 gradient-custom-2">
        <div class="d-flex justify-content-center row" *ngFor="let i of item">
            <div class="col-md-8">
                <div class="p-2">
                    <h4>Shopping cart</h4>
                    <div class="d-flex flex-row align-items-center pull-right"><span class="mr-1">Sort by:</span><span class="mr-1 font-weight-bold">Price</span><i class="fa fa-angle-down"></i></div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="{{i.product.image}}" width="150"></div>
                    <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold">{{i.product.product_name}}</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">category:</span><span class="font-weight-bold">&nbsp;{{i.product.category}}</span></div>
                            <div class="color"><span class="text-grey"></span><span class="font-weight-bold">&nbsp;battery</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1">2</h5><i class="fa fa-plus text-success"></i></div>
                    <div>
                        <h5 class="text-grey">{{i.product.price|currency:'INR'}}</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger"></i></div>
                </div>
              
           
           
                <!-- <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><input type="text" class="form-control border-0 gift-card" placeholder="discount code/gift card"><button class="btn btn-outline-warning btn-sm ml-2" type="button">Apply</button></div> -->
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                    <!-- <input type="text" class="form-control border-0 gift-card" placeholder="discount code/gift card"> -->
                    <button id="{{i.id}}" class="btn btn-outline-danger btn-sm ml-2" (click)="deletecar($event)" type="button">remove</button></div>
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Proceed to Pay</button></div>
            </div>
        </div>
    </div>
    <form id="order-form" method="post" [formGroup]="order">
        <label for="address">Shipping Address:</label>
        <input type="text" id="address" class="form-control" formControlName="address" >
        <!-- <label for="address">landmark:</label>
        <input type="text" id="address" class="form-control" formControlName="landmark" > -->
        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" class="form-control" name="phone" formControlName="phone" >
        <!-- <label for="">payment method</label>
        <select name="" formControlName="payment" id="">
            <option value="cash on delivery">cash on delivery</option>
            <option value="pay on delivery">pay on delivery</option>
            
            
        </select> -->
        <!-- <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" class="form-control" formControlName="quantity" >
        <button id="{{i.id}}" class="btn btn-info">buynow</button>
        <button id="{{i.id}}" (click)="deletecar($event)" class="btn btn-danger">delete</button> -->
        
    </form>

