<p>reg works!</p>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="" [formGroup]="regForm" (ngSubmit)="submitted()">
            <div>
                <label for="">Email</label>
                <input type="text" formControlName="email" placeholder="Enter your Email Id" class="form-control">
                <div class="alert alert-danger" *ngIf="regForm.get('email')?.invalid && regForm.get('email')?.touched">
                    Enter Valid Email
                </div>
            </div>
            <div>
                <label for="">Username</label>
                <input type="text" formControlName="username"  placeholder="Enter your Username" class="form-control">
                <div class="alert alert-danger" *ngIf="regForm.get('username')?.invalid && regForm.get('username')?.touched">
                    Enter Valid Username
                </div>
            </div>
            <div>
                <label for="">Password</label>
                <input type="password" formControlName="password"  placeholder="Enter your Password" class="form-control">
                <div class="alert alert-danger" *ngIf="regForm.get('password')?.invalid && regForm.get('password')?.touched">
                    Enter Valid Password
                </div>
            </div>
            <div>
                <label for="">Confirm Password</label>
                <input type="password" formControlName="cpassword" placeholder="Re-Enter your Password" class="form-control">
                <div class="alert alert-danger" *ngIf="regForm.get('cpassword')?.invalid && regForm.get('cpassword')?.touched">
                    Enter Valid Password
                </div>
    
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-success">Sign Up</button><br>
                Already a User? <a routerLink="">Sign In...</a>
            </div>
        </form>
    </div>
    <div class="col"></div>
    </div>
    
