<div >
    
     
 </div>         
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">powerzone</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-black" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/order">track order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/complaint">give complaint</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/services">give service</a>
                    </li>
                    <style>
                          .round-element {
                                       
                                        background-color: white;
                                        border-radius: 50%;
                                        text-align: center;
                                       
                                        color: red;
                                        font-weight: bold;
                                         }
                    </style>
                    <li class="nav-item bg-rounted">
                        <a class="nav-link" routerLink="/msgs">notifications <b class="round-element">{{counts}}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ><button class="btn btn-lg btn-danger float-right" (click)="logout()">LogOut</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in powerhouse</h1>
                <p class="lead fw-normal text-white-50 mb-0">loaded with enough energy</p>
            </div>
        </div>
    </header>
   

    <!-- Product Listing -->
    <div class="row fa-border bg-dark mt-5">
      
        <div class="card " *ngFor="let i of pro">
            <header class="card__thumb">
                <a href="#"><img src="{{i.image}}" height="400px"/></a>
            </header>
            <div class="card__body">
                <div class="card__category"><a href="#">{{i.category}}</a></div>
                <h2 class="card__title"><a href="#">{{i.product_name}}</a></h2>
                <h2 class="card__title"><a href="#">{{i.price|currency:'INR'}} </a></h2>
                <div class="card__subtitle"></div>
                <p class="card__description">{{i.description}}</p>
            </div>
            <div class="text-center">
                <button id="{{i.id}}" (click)="cart($event)" class="btn btn-danger">add to cart</button>
                <button id="{{i.id}}" (click)="orderss($event)" class="ml-2 btn btn-info">buy now</button>
            </div>
        </div>
    </div>
<br><br>
    <!-- Include Bootstrap JS and jQuery -->
    
